:root {
  --main-color: rgb(43, 43, 54);
  --second-color: rgb(236, 226, 128);
  --thirth-color: rgb(132, 139, 160);
}

.App {
  text-align: center;
  background-color: var(--main-color);
  color: #eee;
  margin: 0;
  padding: 0 0.5rem;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.descripcion {
  border: thin solid rgb(194, 191, 182);
  margin: 1rem auto;
  padding: 1rem;
  max-width: max-content;
  text-align: center;
}
header {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  text-align: left;
  border: thin dotted rgba(194, 191, 182, 0.6);
  margin: 1rem auto;
  padding: 1rem;
  min-width: fit-content;
}
/* .lang-theme {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */

footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: left;
  border: thin dotted rgb(194, 191, 182, 0.6);
  margin: 1rem auto;
  padding: 1rem;
  min-width: fit-content;
}

header,
main,
footer {
  background-color: var(--main-color);
}

/* Dark theme */

.dark {
  filter: invert(1);
}
